.site-headder {
  color:azure;
  background-color: rgb(102, 194, 252);
  max-height: 50px;
  /* height: 3vw; */
  
  width: 100%;
  top: 0px;
  position: fixed;

  overflow: hidden;
  display: flex;

  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.site-headder_item {
  float: left; 
  display: flex;
  align-items: center;
  
  margin-left: 5px;
  margin-right: 5px;
}

.spacer {
  margin: auto;
}

@font-face {
	font-family: 'PressStart2P-Regular'; 
	src: url('../fonts/PressStart2P-Regular.ttf'); 
}
.site-headder-logo {
  font-family: PressStart2P-Regular;
  white-space: nowrap;
  text-align: center;
  /* text-shadow: 0px 0px 4px rgb(100, 124, 255); */
  font-size: 45px;

  /* font-size: 8vh; */
}

.site-headder-menu {
  width: 45px;
  height: 45px;
}

.site-headder-user {
  width: 45px;
  height: 45px;
}

.svg-button .icon:hover{
  fill: azure;
}
.svg-button .icon {
  fill: transparent; 
  stroke: azure;
  stroke-width: 4%;
}

.svg-button .icon:active {
  fill:  azure;
  stroke-width: 0;
}

